*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}


.wrapper{
	max-width: 90rem;
	min-height: 56.25rem;
	display: flex;
	font-family: 'Space Grotesk', sans-serif;
	position: relative;
}
.info{
	position: relative;
	width: 33.40%;	
	background-image: url('../img/bg-main-desktop.png');
	background-repeat: no-repeat;
	background-size: cover;
	.card{
		width: 27.87em;
		height: 15.31em;		
		padding: 1.87em;
		position: absolute;
		background-size: 100% 100%;
	}
	.front-side{		
		top: 20%;
		right: 0;
		transform: translate(30%, 0%);		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-image: url('../img/bg-card-front.png');		
		&__info{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			row-gap: 10px;
			color: hsl(0, 0%, 100%);
			.number{
				font-size: 1.87em;
				font-weight: 500;
				letter-spacing: 0.125rem;
				width: 100%;
			}
			.name{
				margin-right: auto;
				text-transform: uppercase;	
				letter-spacing: 0.125rem;
			}
			.date{
				margin-left: auto;
			}
		}
	}
	.back-side{
		background-image: url('../img/bg-card-back.png');	
		top: 52%;
		right: 0;
		transform: translate(50%,0%);
		&__cvc{
			color:hsl(0, 0%, 100%);
			position: absolute;
			top: 44%;
			right: 13%;
		}
	}	
}

.action{
	width: 66%;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.form{
	max-width: 24em;
	position: relative;
	top: 0;
	left: 12%;
}
.input-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1.25rem;
	color: hsl(278, 68%, 11%);
	.error{
		border: 1px solid hsl(0, 100%, 66%);
	}
	&__item{
		width: 100%;		
	}
	row-gap: 1.87rem;
	label{
		width: 100%;
		font-size: 0.75em;
		letter-spacing: 0.125em;
		text-transform: uppercase;
		margin-bottom: 0.75em;
		display: block;
	}
	input{
		width: 100%;
		height: 2.75rem;
		padding: 0.87rem 1rem;
		margin-bottom: 10px;
		border-radius: 10px;	
		border: 1px solid hsl(270, 3%, 87%)
	}
	&__date{
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		width: 45%;
		input{
			width: 45%;
		}
	}
	&__cvc{
		width: 45%;
	}
	
}
.button{
	width: 100%;
	height: 3.25rem;
	padding:1.25rem;
	border: none;
	color: hsl(0, 0%, 100%);
	border-radius: 10px;
	background-color: hsl(278, 68%, 11%);		
}
.button:active{
	transform: translateY(2px);
}

.allert{
	font-size: 0.625rem;
	color: hsl(0, 100%, 66%);
}

.confirm{
	width: 24em;
	position: relative;
	top: 0;
	left: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.img{
		margin-bottom: 1.75rem;
	}
	h1{
		font-size:2rem;
		margin-bottom: 1.4rem ;
		color:hsl(278, 68%, 11%);	
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 400;
	}
	p{
		margin-bottom: 2rem;
		letter-spacing: 1.5px;
	}
	.button{
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
}

@media(max-width: 60em){
.wrapper{
	flex-direction: column;
	}
.info{
	width: 100%;
	min-height: 15rem;
	background-image: url('../img/bg-main-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0.7em;
	.front-side{	
		transform: translate(0%, 0%);	
		top: 59%;
		left: 4.26%;	
		z-index: 2;	
	}
	.back-side{
		top: 15%;
		right: 6.26%;
		transform: translate(0%, 0%);
	}
}
.action{
	font-size: 0.7em;
	width: 100%;
	padding-top: 13.65rem;
	.form{
		left: 0;}

}
.confirm{
	top: 0;
	left: 0;
}

}